<ion-header>

</ion-header>

<ion-content>
  <div>
    <ion-header-bar class="logo-login">
       <img src="../../assets/img/029-cinema.png" alt="loading..." width="100" height="100">
    </ion-header-bar>
    <ion-label class="text-cine">CinemApp</ion-label>
  </div>
<div class="login-body">
  <div>
    <ion-label color="danger"> Nombre y apellido</ion-label>
    <ion-input class="" class="text-color" placeholder="Pedro Sosa" ></ion-input>
    <a><hr color="red"></a>
  </div>
<div>
  <ion-label color="danger"> Correo electronico</ion-label>

  <ion-input class="input-correo" class="text-color" placeholder="pepeL2029@example.com" >
  </ion-input>
  <a><hr color="red"></a>
</div>
 <div>
  <ion-label color="danger">contrase&ntilde;a</ion-label>
  <ion-input class="text-color"  placeholder="Ingrese su contraseña" type="password" ></ion-input>
  <a><hr color="red"></a>
 </div>

  <ion-button clear-on-edit color="danger"  expand="block">Registrarme</ion-button>

  <ion-label [routerLink]="['/src/app/register.page.html']" >No tienes cuenta, registrate</ion-label>
</div>
<footer class="footer-estilo">
  <ion-label>Ya tienes cuenta,<a [routerLink]="['/login']" > inicia sesion</a></ion-label> 
</footer>
</ion-content>
